<div id="<%= dom_id pedido %>">
  <p>
    <strong>Fornecedor:</strong>
    <%= pedido.fornecedor_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= pedido.produto_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= pedido.quantidade %>
  </p>

  <p>
    <strong>Data pedido:</strong>
    <%= pedido.data_pedido %>
  </p>

</div>
