<div id="<%= dom_id historico %>">
  <p>
    <strong>Data:</strong>
    <%= historico.data %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= historico.tipo %>
  </p>

  <p>
    <strong>Id relacionado:</strong>
    <%= historico.id_relacionado %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= historico.descricao %>
  </p>

</div>
